.navigation {
  background-color: rgb(231, 235, 238);
  grid-area: navigation;
  flex-direction: column;
  display: flex;
  //justify-content: center;
  padding-top: 25px;
  height: calc(100vh - 125px);

  .nav-elem {
    margin-left: auto;
    margin-right: 10px;
    width: 140px;
    height: 30px;
    margin-bottom: 10px;
    display: flex;
  }

  .nav-link {
    text-decoration: none;
    color: black;
  }

  .active {
    color: rgb(25, 25, 216);
    font-weight: bold;
  }
}
