.app {
  width: calc(100vw - 40px);
  display: grid;
  grid-template-areas:
    "head head"
    "navigation main";
  margin: 0px 20px;
  justify-content: center;

  grid-template-rows: 100px 1fr;
  grid-template-columns: 20% 60%;
}
